*:focus {
  outline: none;
}
div {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

nav {
  background-color: #66ccff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 15px;
}
nav ul {
  margin: 0px;
  padding: 0pxs;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
.btn {
  background-color: #66ccff;
  border-color: white;
  border-radius: 30px;
  color: white;
  margin: 6px;
  border-width: 3px;
  font-size: 20px;
  width: 154px;
}

.btn:hover {
  background-color: white;
  border-color: #66ccff;
  border-radius: 30px;
  color: #66ccff;
  margin: 6px;
  border-width: 1.5px;
  font-size: 20px;
  width: 200px;
  height: 50px;
}

.form-space {
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
}
input::placeholder {
  padding-left: 20px;
  font-size: 17px;
  color: #e8e8e8;
}
.input-box {
  width: 600px;
  border-radius: 10px;
  border-color: #66ccff;
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  font-size: 20px;
  color: #66ccff;
  padding: 10x;
  margin: 4px;
  height: 40px;
}
.hl {
  color: #66ccff;
  font-size: 50px;
}
.w {
  width: 200px;
}

.hla {
  text-align: center;
  border: solid;
  border-width: 0px;
  color: white;
  background-color: #66ccff;
  margin: 10px;
  font-size: 50px;
  border-radius: 20px;
}

p {
  text-align-last: center;
  font-size: 40px;
  color: #66ccff;
}

.contactus {
  text-align: center;
}
.wcolor {
  background-color: #25d366;
}
.ww {
  width: 300px;
}
.ww:hover {
  width: 350px;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: #25d366;
}
/* Follow Us */
.inli {
  display: inline-block;
}
.size1 {
  font-size: 100px;
  padding: 10px;
  color: silver;
}
.sd {
  display: inline-block;
}
.mr {
  margin-left: 130px;
}
.md {
  margin-left: 150px;
}
.fsize {
  font-size: 30px;
  color: #66ccff;
}
.hla2 {
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: #66ccff;
  color: #66ccff;
  background-color: white;
  margin: 10px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 20px;
}
.check1 {
  margin-right: 15px;
}
.navTitle {
  font-family: "Chango", cursive;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: #66ccff;
  color: #66ccff;
  background-color: white;
  margin: 5px;
  padding-left: 550px;
  padding-right: 50px;
  border-radius: 20px;
}
.fnfn {
  font-family: "Chango", cursive;
}

.alert-box {
  font-family: "Chango", cursive;
  font-size: 50;
  text-align: center;
  border: solid;
  border-width: 3px;
  border-color: red;
  color: red;
  background-color: white;

  border-radius: 20px;
}
